h1{
    text-align: center;
}
.contact{
    text-align: center;
}

input[type="text"]{
    margin-top: 11px;
    margin-bottom: 11px;
}

input[type="radio"]{
    margin-top: 11px;
    margin-bottom: 11px;
}

input[type="email"]{
    margin-top: 11px;
    margin-bottom: 11px;
}

input[type="number"]{
    margin-top: 11px;
    margin-bottom: 11px;
}

input[type="button"]{
    margin-top: 11px;
    margin-bottom: 11px;
    background-color: green;
    color: white;
}
img{
    height: 200px;
    width: 400px;
}